
:root {
	--bg-color: white;
	--fg-color: black;
	--nav-bar-spacing: 16px;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	margin: 0;
	padding: 0;
}

a {
	color: blue;
}

div.main-header {
	height: 100vh;
	text-align: center;
	font-size: 6em;
	color: var(--bg-color);
	background-color: var(--fg-color);
}

h1.main-header {
	padding-top: 35vh;
}

header {
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: var(--fg-color);
	color: var(--bg-color);
	font-family: sans-serif;
	text-align: center
}

header ul {
	list-style-type: none;
}

header li {
	display: inline;
}

header a {
	color: var(--bg-color);
	text-decoration: none;
	font-size: 13pt;
}

.content {
	margin: 16px auto;
	display: table;
	font-size: 150%;
	max-width: 50%;
}

pre {
	padding: 20px;
	background-color: lightgrey;
	border-radius: 10px;
}

code {
	padding: 2px;
	background-color: lightgrey;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid;
	padding: 10px;
}

/*body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: sans-serif;
	margin: 0;
}

p {
	font-family: serif;
}

header {
	background-color: var(--fg-color);
	color: var(--bg-color);
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline;
	float: right;
	font-size: 150%;
}

nav ul li.homepage {
	float: left;
}

nav ul li a {
	display: block;
	padding-left: var(--nav-bar-spacing);
	padding-right: var(--nav-bar-spacing);
	text-decoration: none;
	color: var(--bg-color);
}

nav ul li a:hover {
	color: var(--fg-color);
	background-color: var(--bg-color);
	transition: 200ms linear;
}

div.main-header {
	min-height: 100vh;
	min-width: 100vw;
	text-align: center;
	background-color: var(--fg-color);
	color: var(--bg-color)
}

h1.main-header {
	font-size: 600%;
	padding-top: 30vh;
}

a.arrow {
	text-decoration: none;
}

article {
	max-width: 80ch;
	font-size: 200%;
}

@media (max-width: 1090px) {
	
}*/
